<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="ie9 no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html class="no-js" lang="vi">
<!--<![endif]-->
<!-- Mirrored from shop.dienquang.com/ by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 27 Sep 2018 12:00:23 GMT -->
<!-- Added by HTTrack -->
<meta http-equiv="content-type" content="text/html;charset=utf-8" /><!-- /Added by HTTrack -->
<head>
    <link rel="shortcut icon" href="../Assets/Client/theme.hstatic.net/1000253446/1000408152/14/favicon30f4.png?v=3" type="image/png" />
    <meta charset="utf-8" />
    <title>
        Thiết bị chiếu sáng cao cấp Điện Quang &ndash; Điện Quang Shop
    </title>
    <script async src='../Assets/Client/hstatic.net/0/0/global/haravan-analytics.min30f4.js?v=3' type='text/javascript'></script>
    <script src="../Assets/Client/hstatic.net/0/0/global/design/js/jquery.min.1.11.0.js"></script>
    <script src="../Assets/Client/hstatic.net/0/0/global/design/js/bootstrap.min.js"></script>
    <script src='../Assets/Client/hstatic.net/0/0/global/option_selection.js' type='text/javascript'></script>
    <script src='../Assets/Client/hstatic.net/0/0/global/api.jquery.js' type='text/javascript'></script>
    <script>
        var formatMoney = '{{amount}}₫';
    </script>
    <script src='../Assets/Client/theme.hstatic.net/1000253446/1000408152/14/default_script.min30f4.js?v=3' type='text/javascript'></script>
    <link href='../Assets/Client/theme.hstatic.net/1000253446/1000408152/14/default_style.min30f4.css?v=3' rel='stylesheet' type='text/css' media='all' />
    <!--[if lt IE 9]>
    <script src="//hstatic.net/0/0/global/design/theme-default/html5shiv.js"></script>
    <![endif]-->
    <script src="../Assets/Client/hstatic.net/0/0/global/design/theme-default/jquery-migrate-1.2.0.min.js"></script>
    <script src='../Assets/Client/hstatic.net/0/0/global/design/theme-default/jquery.touchSwipe.min.js' type='text/javascript'></script>
    <script data-target=".product-resize" data-parent=".products-resize" data-img-box=".image-resize" src="../Assets/Client/hstatic.net/0/0/global/design/js/fixheightproductv2.js"></script>
    <script src="../Assets/Client/hstatic.net/0/0/global/design/js/haravan.plugin.1.0.js"></script>
    <script src='../Assets/Client/theme.hstatic.net/1000253446/1000408152/14/rangeslider.min30f4.js?v=3' type='text/javascript'></script>
    <script src='../Assets/Client/hstatic.net/0/0/global/design/theme-default/jquery.flexslider.js' type='text/javascript'></script>
    <link href='../Assets/Client/hstatic.net/0/0/global/design/theme-default/flexslider.css' rel='stylesheet' type='text/css' media='all' />
    <script src='../Assets/Client/theme.hstatic.net/1000253446/1000408152/14/scripts30f4.js?v=3' type='text/javascript'></script>

    <link rel="stylesheet" type="text/css" href="../Assets/Client/hstatic.net/0/0/global/design/member/fonts-master/roboto.css">

    <meta property="og:description" content="Giải pháp chiếu sáng. Chiếu sáng LED. Đèn Compact, đèn Tube, Double Wing, máng đèn, đèn tròn, ổ cắm, phích cắm, dây điện, đèn bàn, đèn sạc, quạt điện, quạt sạc." />

    <meta property="og:url" content="https://shop.dienquang.com/" />
    <meta property="og:site_name" content="Điện Quang Shop" />

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="../Assets/Client/hstatic.net/0/0/global/design/css/bootstrap.3.3.1.css">
    <!-- Latest compiled and minified JavaScript -->
    <link href='../Assets/Client/hstatic.net/0/0/global/design/plugins/font-awesome/4.6.3/css/font-awesome.min.css' rel='stylesheet' type='text/css' media='all' />
    <link href='../Assets/Client/theme.hstatic.net/1000253446/1000408152/14/styles30f4.css?v=3' rel='stylesheet' type='text/css' media='all' />
    <script src="../Assets/Client/cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
    <script src="../Assets/Client/harafunnel.com/widget/1922106481180673.js" async="async"></script>
</head>
<body>

    <div id="page">
        <div id="quick-view-modal" class="wrapper-quickview" style="display:none;">
            <div class="quickviewOverlay"></div>
            <div class="jsQuickview">
                <div class="modal-header clearfix" style="width:100%">
                    <a href="#" class="quickview-title text-left" title=""><h4 class="p-title modal-title"></h4></a>
                    <div class="quickview-close">
                        <a href="javascript:void(0);"><i class="fa fa-times"></i></a>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="quickview-image image-zoom">
                        <img class="p-product-image-feature" src="#" alt="">
                    </div>
                    <div id="quickview-sliderproduct">
                        <div class="quickview-slider">
                            <ul class="slides"></ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-7">
                    <form id="form-quickview" method="post" action="https://shop.dienquang.com/cart/add">
                        <div class="quickview-information">
                            <div class="form-input">
                                <div class="quickview-price product-price">
                                    <span></span><del></del>
                                </div>
                            </div>
                            <div class="quickview-variants variant-style clearfix">
                                <select name="id" class="" id="quickview-select"></select>
                            </div>
                            <div class="quickview-description"></div>
                            <div class="form-input ">
                                <label>Số lượng</label>
                                <input id="quantity-quickview" name="quantity" type="number" min="1" value="1" />
                            </div>
                            <div class="form-input" style="width: 100%">
                                <button type="submit" class="btn-detail  btn-color-add btn-min-width btn-mgt btn-addcart">Thêm vào giỏ</button>
                                <button disabled class="btn-detail addtocart btn-color-add btn-min-width btn-mgt btn-soldout">Hết hàng</button>
                                <div class="qv-readmore">
                                    <span> hoặc </span><a class="read-more p-url" href="#" role="button">Xem chi tiết</a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <script>
            /* QUICK VIEW JS */
            jQuery(document).ready(function () {
                var callBack = function (variant, selector) {
                    if (variant) {
                        item = $('.wrapper-quickview');
                        if (variant != null && variant.featured_image != null) {
                            item.find(".product-thumb a[data-image='" + Haravan.resizeImage(variant.featured_image.src, 'large') + "']").click();
                        }
                        item.find('.quickview-price').find('span').html(Haravan.formatMoney(variant.price, "{{amount}}₫"));

                        if (variant.compare_at_price > variant.price)
                            item.find('.quickview-price').find('del').html(Haravan.formatMoney(variant.compare_at_price, "{{amount}}₫"));
                        else
                            item.find('.quickview-price').find('del').html('');
                        if (variant.available) {
                            item.find('.btn-addcart').css('display', 'block');
                            item.find('.btn-soldout').css('display', 'none');
                        }
                        else {
                            item.find('.btn-addcart').css('display', 'none');
                            item.find('.btn-soldout').css('display', 'block');
                        }
                    }
                    else {
                        item.find('.btn-addcart').css('display', 'none');
                        item.find('.btn-soldout').css('display', 'block');
                    }
                }
                var quickview_html_variants = $('.quickview-variants').html();
                var quickview_image_zoom = $('.quickview-image').html();
                var quickViewProduct = function (purl) {
                    if ($(window).width() < 680) {
                        window.location = purl;
                        return false;
                    }
                    item = $('.wrapper-quickview');
                    $.ajax({
                        url: purl + '.js',
                        async: false,
                        success: function (product) {
                            $.each(product.options, function (i, v) {
                                product.options[i] = v.name;
                            })
                            item.find('.quickview-title').attr('title', product.title).attr('href', product.url).find('h4').html(product.title);
                            item.find('.quickview-variants').html(quickview_html_variants);
                            $('.quickview-image').html(quickview_image_zoom);
                            $.each(product.variants, function (i, v) {
                                item.find('#quickview-select').append("<option value='" + v.id + "'>" + v.title + ' - ' + v.price + "</option>");
                            })
                            if (product.variants.length == 1 && product.variants[0].title.indexOf('Default') != -1)
                                $('#quickview-select').hide();
                            else
                                $('#quickview-select').show();
                            if (product.variants.length == 1 && product.variants[0].title.indexOf('Default') != -1) {
                                callBack(product.variants[0], null);
                            }
                            else {
                                new Haravan.OptionSelectors("quickview-select", { product: product, onVariantSelected: callBack });
                                if (product.options.length == 1 && product.options[0].indexOf('Tiêu đề') == -1)
                                    item.find('.selector-wrapper:eq(0)').prepend('<label>' + product.options[0] + '</label>');
                                $('.p-option-wrapper select:not(#p-select)').each(function () {
                                    $(this).wrap('<span class="custom-dropdown custom-dropdown--white"></span>');
                                    $(this).addClass("custom-dropdown__select custom-dropdown__select--white");
                                });
                                callBack(product.variants[0], null);
                            }
                            if (product.images.length == 0) {
                                item.find('.quickview-image').find('img').attr('alt', product.title).attr('src', '../Assets/Client/hstatic.net/0/0/global/design/theme-default/no-image.png');
                            }
                            else {
                                $('.quickview-slider').remove();
                                $('#quickview-sliderproduct').append("<div class='quickview-slider' class='flexslider'>");
                                $('.quickview-slider').append("<ul class='owl-carousel'>");
                                $.each(product.images, function (i, v) {
                                    elem = $('<li class="product-thumb">').append('<a href="javascript:void(0);" data-image=""><img /></a>');
                                    elem.find('a').attr('data-image', Haravan.resizeImage(v, 'large'));
                                    elem.find('img').attr('src', Haravan.resizeImage(v, 'small'));
                                    item.find('.owl-carousel').append(elem);
                                });
                                item.find('.quickview-image img').attr('alt', product.title).attr('src', Haravan.resizeImage(product.featured_image, 'large'));

                                $('.quickview-slider img').imagesLoaded(function () {
                                    var owl = $('.owl-carousel');
                                    owl.owlCarousel({
                                        items: 3,
                                        navigation: true,
                                        navigationText: ['owl-prev', 'owl-next']
                                    });
                                    $('.quickview-slider .owl-carousel .owl-item').first().children('.product-thumb').addClass('active');
                                });

                            }

                        }
                    });
                    return false;
                }
                //final width --> this is the quick view image slider width
                //maxQuickWidth --> this is the max-width of the quick-view panel
                var sliderFinalWidth = 500,
                        maxQuickWidth = 900;

                //open the quick view panel
                jQuery(document).on("click", ".quickview", function (event) {
                    var selectedImage = $(this).parents('.product-block').find('.product-img img'),
                            slectedImageUrl = selectedImage.attr('src');
                    quickViewProduct($(this).attr('data-handle'));

                    animateQuickView(selectedImage, sliderFinalWidth, maxQuickWidth, 'open');

                    //update the visible slider image in the quick view panel
                    //you don't need to implement/use the updateQuickView if retrieving the quick view data with ajax

                });

                $('.wrapper-quickview').on('click', '.product-thumb a', function () {
                    item = $('.wrapper-quickview');
                    item.find('.quickview-image img').attr('src', $(this).attr('data-image'));
                    item.find('.product-thumb').removeClass('active');
                    $(this).parents('li').addClass('active');
                    return false;
                });
                //close the quick view panel

                $(document).on('click', '.quickview-close, .quickviewOverlay', function (e) {
                    $(".wrapper-quickview").fadeOut(500);

                    $('.jsQuickview').fadeOut(500);
                });


                //center quick-view on window resize
                $(window).on('resize', function () {
                    if ($('.wrapper-quickview').hasClass('is-visible')) {
                        window.requestAnimationFrame(resizeQuickView);
                    }
                });

                function animateQuickView(image, finalWidth, maxQuickWidth, animationType) {

                    $('.wrapper-quickview').fadeIn(500);
                    $('.jsQuickview').fadeIn(500);
                }

                $(document).on("click", ".btn-addcart", function (event) {
                    event.preventDefault();
                    variant_id_quickview = $('#quickview-select').val();
                    quantity_quickview = $('#quantity-quickview').val();
                    var params = {
                        type: 'POST',
                        url: '/cart/add.js',
                        async: true,
                        data: 'quantity=' + quantity_quickview + '&id=' + variant_id_quickview,
                        dataType: 'json',
                        success: function (line_item) {
                            window.location = 'cart.html';
                        },
                        error: function (XMLHttpRequest, textStatus) {
                            alert('Sản phẩm bạn vừa mua đã vượt quá tồn kho');
                        }
                    };
                    jQuery.ajax(params);
                });


            });
        </script>

        <div id="pageContainer" class="clearfix">
            <div class="hidden-sm hidden-xs">
                <div class="topheader">
                    <div class="row">
                        <div class="col-sm-4 hidden-xs top-text">
                            <i class="fa fa-clock-o fa-fw"></i>Giờ mở cửa: 8:00 - 19:30
                        </div>
                        <div class="col-sm-4 col-sm-offset-4 col-xs-12">
                            <form action="https://shop.dienquang.com/search" role="search">
                                <div class="input-group" style="right: -1px;">
                                    <input type="hidden" name="type" value="product">
                                    <input type="search" name="q" value="" placeholder="Nhập nội dung tìm kiếm" class=" form-control search input-sm" autocomplete="off">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" type="submit" style="border: 0;padding: 0 20px; line-height: 30px;height: 30px;background-color:#ec1c24;">
                                            <i class="fa fa-search fa-fw"></i>
                                        </button>
                                    </span>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="topmiddle hidden-xs" id="topheader">
                    <div class="row" style="display: block;">
                        <div class="col-md-5 col-sm-4 text-left" style="margin-left: 15px;">
                            <a href="index.html" class="logo-wrapper">
                                <img src="../Assets/Client/theme.hstatic.net/1000253446/1000408152/14/logo30f4.png?v=3" alt="logo ">
                            </a>
                        </div>
                        <div class="col-md-6 col-sm-7 text-right" style="padding-top: 5px;">
                            <span class="col-sm-8 text-white text-right">
                                @{ Html.RenderAction("TopMenu", "Home");}
                            </span>
                            <span class="col-sm-4 text-white text-right">
                                <div class="mini-cart text-right">
                                    <div class="cart-info hidden-xs">
                                        <a class="cart-link" href="cart.html">
                                            Giỏ hàng
                                            (<span class="cart-number">0</span>) <i class="fa fa-shopping-bag fa-lg fa-bag" aria-hidden="true"></i>
                                        </a>
                                    </div>
                                </div>
                            </span>
                        </div>
                    </div>
                    <header class="bs-docs-nav navbar navbar-static-top shadow-menu" id="top">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-lg-3 col-md-3 col-sm-3 text-left" style="top: -5px; display: none;" id="fixedlogo">
                                    <a href="index.html" class="logo-wrapper">
                                        <img src="../Assets/Client/theme.hstatic.net/1000253446/1000408152/14/logo30f4.png?v=3" alt="logo ">
                                    </a>
                                </div>
                                <!---main menu-->
                                @{Html.RenderAction("MainMenu", "Home");}
                            </div>
                        </div>
                    </header>
                </div>
                <div class="container  hidden-xs hidden-sm">
                    <div class="col-md-12">
                        <img src="../Assets/Client/theme.hstatic.net/1000253446/1000408152/14/thong-tin-mua-hang30f4.png?v=3" alt="thong-tin-mua-hang" width="100%">
                    </div>
                </div>
                <div class="clearfix visible-xs"></div>
            </div>
            <nav class="navbar-main navbar navbar-default cl-pri visible-xs visible-sm">
                <!-- MENU MAIN -->
                <div class="container nav-wrapper check_nav responsive-menu">
                    <div class="row">
                        <div class="navbar-header">
                            <div class="mobile-menu-icon-wrapper">
                                <div class="menu-logo">

                                    <h1 class="logo logo-mobile">
                                        <a href="index.html">
                                            <img src="../Assets/Client/theme.hstatic.net/1000253446/1000408152/14/logo30f4.png?v=3" alt="Điện Quang Shop" class="img-responsive logoimg" />
                                        </a>
                                    </h1>

                                    <div class="nav-login">
                                        <a href="account/login" class="cart " title="Tài khoản">
                                            <svg class="icon icon-user" viewBox="0 0 32 32">
                                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-user">
                                                </use>
                                            </svg>
                                        </a>
                                    </div>
                                    <div class="menu-btn click-menu-mobile ">
                                        <a href="#menu-mobile" class="navbar-toggle">
                                            <span class="sr-only">Toggle navigation</span>
                                            <span class="icon-bar"></span>
                                            <span class="icon-bar"></span>
                                            <span class="icon-bar"></span>
                                        </a>
                                    </div>
                                    <div id="cart-targets" class="cart">
                                        <a href="cart.html" class="cart " title="Giỏ hàng">
                                            <span>
                                                <svg class="shopping-cart">
                                                    <use xmlns:xlink="//www.w3.org/1999/xlink" xlink:href="#icon-add-cart" />
                                                </svg>
                                            </span>
                                            <span id="cart-count" class="cart-number">0</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="search-bar-top">
                                    <div class="search-input-top">
                                        <form action="https://shop.dienquang.com/search">
                                            <input type="hidden" name="type" value="product" />
                                            <input type="text" name="q" placeholder="Tìm kiếm sản phẩm ..." />
                                            <button type="submit" class="icon-search">
                                                <svg class="icon-search_white">
                                                    <use xmlns:xlink="//www.w3.org/1999/xlink" xlink:href="#icon-search_white" />
                                                </svg>
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- End container  -->
                <script>
                        $(document).on("click", ".mobile-menu-icon .dropdown-menu ,.drop-control .dropdown-menu, .drop-control .input-dropdown", function (e) {
                            e.stopPropagation();
                        });
                </script>
                <script>
                        $(function () {
                            $('nav#menu-mobile').mmenu();
                        });
                        $(document).ready(function () {
                            flagg = true;
                            if (flagg) {
                                $('.click-menu-mobile a').click(function () {
                                    $('#menu-mobile').removeClass('hidden');
                                    flagg = false;
                                })
                            }
                        })



                </script>
            </nav>
            <script>
                    $(document).ready(function () {
                        $(window).scroll(function () {
                            if ($(window).scrollTop() >= 100) {
                                $('#topheader').addClass('fixed-header');
                                $('#topheader .row:first').hide();
                                $('#topheader #fixedlogo').show();

                            }
                            else {
                                $('#topheader').removeClass('fixed-header');
                                $('#topheader .row:first').show();
                                $('#topheader #fixedlogo').hide();
                            }
                        });
                    });
            </script>


            <!-- Begin slider -->
            @RenderSection("slide", required: false)
            <!-- End slider -->

            <script>
                    jQuery(document).ready(function () {
                        if ($('.slides li').size() > 0) {
                            $(".hrv-banner-container .slides").owlCarousel({
                                singleItem: true,
                                autoPlay: 5000,
                                items: 1,
                                itemsDesktop: [1199, 1],
                                itemsDesktopSmall: [980, 1],
                                itemsTablet: [768, 1],
                                itemsMobile: [479, 1],
                                slideSpeed: 500,
                                paginationSpeed: 500,
                                rewindSpeed: 500,
                                addClassActive: true,
                                navigation: true,
                                stopOnHover: true,
                                pagination: false,
                                scrollPerPage: true,
                                afterMove: nextslide,
                                afterInit: nextslide,
                            });
                            function nextslide() {
                                $(".hrv-banner-container .owl-item .hrv-banner-caption").css('display', 'none');
                                $(".hrv-banner-container .owl-item .hrv-banner-caption").removeClass('hrv-caption')
                                $(".hrv-banner-container .owl-item.active .hrv-banner-caption").css('display', 'block');

                                var heading = $('.hrv-banner-container .owl-item.active .hrv-banner-caption').clone().removeClass();
                                $('.hrv-banner-container .owl-item.active .hrv-banner-caption').remove();
                                $('.hrv-banner-container .owl-item.active>li').append(heading);
                                $('.hrv-banner-container .owl-item.active>li>div').addClass('hrv-banner-caption hrv-caption');
                            }

                        }
                    })

            </script>


        </div>
        @RenderBody()
        <script>
                $(document).ready(function () {
                    jQuery(document).ready(function ($) {
                        $('.news .module-content').owlCarousel({
                            loop: true,
                            margin: 10,
                            nav: true,
                            items: 3,
                            lazyLoad: true,
                            autoPlay: 3000,
                            responsiveClass: true,
                            responsive: {
                                0: {
                                    items: 1,
                                    nav: true
                                },
                                768: {
                                    items: 1,
                                    nav: true,
                                    loop: true
                                },
                                1000: {
                                    items: 3,
                                    nav: true,
                                    loop: false
                                }
                            }
                        })
                    });
                    $('.button_hover').css('display', 'none');
                    $(".news_img")
                    .mouseenter(function () {
                        $(this).find('.button_hover').css('display', 'block');
                        $(this).find('img').css('opacity', '0.5');
                    })
                    .mouseleave(function () {
                        $(this).find('.button_hover').css('display', 'none');
                        $(this).find('img').css('opacity', '1');
                    });
                });

        </script>
        <script>
                $(document).ready(function () {

                    if ($(window).width() > 767) {
                        jQuery(document).ready(function ($) {
                            $('.content-product-list').owlCarousel({
                                loop: true,
                                margin: 10,
                                nav: true,
                                items: 4,
                                autoPlay: 4000,
                                lazyLoad: true,
                                navigation: true,
                                navigationText: ["<", ">"]
                            })
                        });
                    } else {

                    }
                });
        </script>

        @{ Html.RenderAction("Footer", "Home");}
        
        <a href="#" class="scrollToTop ">
            <i class="fa fa-chevron-up"></i>
        </a>
        <!--Scroll to Top-->
    </div>
</body>
<!-- Mirrored from shop.dienquang.com/ by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 27 Sep 2018 12:03:41 GMT -->
</html>