<footer id="footer">
    <div class="footer-bottom">
        <div class="container">
            <div class="row">

                <div class="col-sm-6 col-md-3 col-xs-12 clear-sm">
                    <div class="widget-wrapper animated">

                        <h3 class="title title_left">Giới thiệu</h3>

                        <div class="inner about_us">

                            <p class="message">CÔNG TY CỔ PHẦN BÓNG ĐÈN ĐIỆN QUANG</p>

                            <ul class="list-unstyled">

                                <li>
                                    <i class="fa fa-home"></i>125 Hàm Nghi, P. Nguyễn Thái Bình, Q. 1, TP.HCM
                                </li>


                                <li>
                                    <i class="fa fa-envelope-o"></i> <a href="mailto:info@dienquang.com">info@dienquang.com</a>
                                </li>


                                <li>
                                    <i class="fa fa-phone"></i>19001257
                                </li>


                                <li>
                                    <i class="fa fa-print"></i>+8428 3825 1518
                                </li>

                            </ul>
                            <a href="http://online.gov.vn/CustomWebsiteDisplay.aspx?DocId=1339">
                                <img src="../Assets/Client/theme.hstatic.net/1000253446/1000408152/14/bocongthuong30f4.png?v=3" alt="" class="bocongthuong_img" />
                            </a>
                        </div>
                    </div>
                </div>


                <div class="col-sm-6 col-md-2 col-xs-12 clear-sm">
                    <div class="widget-wrapper animated">

                        <h3 class="title title_left">LIÊN KẾT</h3>

                        <div class="inner">

                            <ul class="list-unstyled list-styled">

                                <li>
                                    <a href="https://dienquang.com/">THÔNG TIN CÔNG TY</a>
                                </li>

                                <li>
                                    <a href="https://dienquang.com/">QUAN HỆ CỔ ĐÔNG</a>
                                </li>

                                <li>
                                    <a href="https://tuyendung.dienquang.com/">CƠ HỘI NGHỀ NGHIỆP</a>
                                </li>

                                <li>
                                    <a href="pages/lien-he.html">LIÊN HỆ VÀ GÓP Ý</a>
                                </li>

                                <li>
                                    <a href="pages/huong-dan-mua-hang-online.html">HƯỚNG DẪN MUA HÀNG</a>
                                </li>

                                <li>
                                    <a href="pages/dieu-khoan-su-dung.html">ĐIỀU KHOẢN SỬ DỤNG</a>
                                </li>

                                <li>
                                    <a href="pages/quyen-rieng-tu">QUYỀN RIÊNG TƯ</a>
                                </li>

                                <li>
                                    <a href="pages/chinh-sach.html">CHÍNH SÁCH BẢO HÀNH</a>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>


                <div class="col-sm-6 col-md-3 col-xs-12 clear-sm">
                    <div class="widget-wrapper animated">


                        <h3 class="title title_left">Đăng kí nhận tin</h3>

                        <div class="inner">

                            <form accept-charset='UTF-8' action='https://shop.dienquang.com/account/contact' class='contact-form' method='post'>
                                <input name='form_type' type='hidden' value='customer'>
                                <input name='utf8' type='hidden' value='✓'>

                                <div class="group-input">
                                    <input type="hidden" id="contact_tags" name="contact[tags]" value="khách hàng tiềm năng, bản tin" />
                                    <input type="email" required="required" name="contact[email]" id="contact_email" />
                                    <span class="bar"></span>
                                    <label>Nhập email của bạn</label>
                                    <button type="submit"><i class="fa fa-paper-plane-o"></i></button>
                                </div>




                            </form>


                            <div class="caption">Hãy nhập email của bạn vào đây để nhận tin!</div>

                        </div>



                        <div id="widget-social" class="social-icons">
                            <ul class="list-inline">

                                <li>
                                    <a target="_blank" href="https://www.facebook.com/dienquangonline/" class="social-wrapper facebook">
                                        <span class="social-icon">
                                            <i class="fa fa-facebook"></i>
                                        </span>
                                    </a>
                                </li>


                                <li>
                                    <a target="_blank" href="https://twitter.com/dienquanglamp" class="social-wrapper twitter">
                                        <span class="social-icon">
                                            <i class="fa fa-twitter"></i>
                                        </span>
                                    </a>
                                </li>


                                <li>
                                    <a target="_blank" href="https://pinterest.com/dienquanglamp" class="social-wrapper pinterest">
                                        <span class="social-icon">
                                            <i class="fa fa-pinterest"></i>
                                        </span>
                                    </a>
                                </li>


                                <li>
                                    <a target="_blank" href="https://google.com/+dienquang?aelang=vi" class="social-wrapper google">
                                        <span class="social-icon">
                                            <i class="fa fa-google-plus"></i>
                                        </span>
                                    </a>
                                </li>


                                <li>
                                    <a target="_blank" href="https://www.youtube.com/channel/UC5lyYES19jDnyJlHWu2kLWw?view_as=subscriber" class="social-wrapper youtube">
                                        <span class="social-icon">
                                            <i class="fa fa-youtube"></i>
                                        </span>
                                    </a>
                                </li>


                                <li>
                                    <a target="_blank" href="https://www.instagram.com/shopdienquang/" class="social-wrapper instagram">
                                        <span class="social-icon">
                                            <i class="fa fa-instagram"></i>
                                        </span>
                                    </a>
                                </li>

                            </ul>
                        </div>

                    </div>
                </div>


                <div class="col-sm-6 col-md-4 col-xs-12 clear-sm">
                    <div class="widget-wrapper animated">

                        <h3 class="title title_left">Kết nối với chúng tôi</h3>

                        <div class="inner">
                            <!-- Facebook widget -->
                            <div class="footer-static-content">
                                <div class="fb-page" data-href="https://www.facebook.com/dienquangonline/" data-height="300" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true" data-show-posts="false">	</div>
                            </div>
                            <div style="clear:both;">

                            </div>
                            <!-- #Facebook widget -->
                            <script>
                                            (function (d, s, id) {
                                                var js, fjs = d.getElementsByTagName(s)[0];
                                                if (d.getElementById(id)) return;
                                                js = d.createElement(s); js.id = id;
                                                js.src = "../Assets/Client/connect.facebook.net/vi_VN/sdk.js#xfbml=1&appId=263266547210244&version=v2.0";
                                                fjs.parentNode.insertBefore(js, fjs);
                                            }(document, 'script', 'facebook-jssdk'));
                            </script>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container copyright">
            <p>
                © Công ty Cổ phần Bóng đèn Điện Quang Giấy chứng ĐKKD số 0300363808 do sở KH và ĐT TPHCM cấp
                Người chịu trách nhiệm quản lý nội dụng : Nguyễn Thị Phượng
            </p>
        </div>
    </div>
</footer>