@model List<OnlineShop.Models.CartItem>
<a class="cart-link" href="/Cart/Index">
    Giỏ hàng
    (<span class="cart-number">@Model.Count</span>) <i class="fa fa-shopping-bag fa-lg fa-bag" aria-hidden="true"></i>
</a>
