@model List<Model.EF.Menu>
<nav>
    <ul class="nav" style="margin-bottom: -1px;">
        @foreach (var item in Model)
        {
            <li class="nav-item ">
                <a href="@item.Link" target="item.Target" class="nav-link">
                    @item.Text
                </a>
            </li>
        }
        <li class="nav-item has-mega">
            <a href="collections/all.html" class="nav-link">
                DANH SÁCH SẢN PHẨM

                <i class="fa fa-angle-down" data-toggle="dropdown"></i>

            </a>
            <div class="mega-content" style="height: inherit;width:inherit;overflow-y: auto;">
                <div class="level0-wrapper2">
                    <div class="nav-block nav-block-center">
                        <ul class="row" style="" id="megamenurow">

                            <li class="col-sm-2" style="text-align: left;min-height: 190px;">

                            </li>
                            <li class="col-sm-2" style="text-align: left;min-height: 190px;">
                                <a href="/san-pham/sua" title="Sữa" style="padding: 0px !important;">
                                    <span style="font-weight: 600; font-size: 14px;">Sữa</span>
                                </a>
                            </li>


                            <li class="col-sm-2" style="text-align: left;min-height: 190px;">
                                <a href="/san-pham/quan-ao" title="Quần áo" style="padding: 0px !important;">
                                    <span style="font-weight: 600; font-size: 14px;">Quần áo</span>
                                </a>
                            </li>

                            <li class="col-sm-2" style="text-align: left;min-height: 190px;">
                                <a href="/san-pham/do-choi" title="Đồ chơi" style="padding: 0px !important;">
                                    <span style="font-weight: 600; font-size: 14px;">Đồ chơi</span>
                                </a>

                            </li>

                            <li class="col-sm-2" style="text-align: left;min-height: 190px;">
                                <a href="/san-pham/trang-suc" title="Trang sức" style="padding: 0px !important;">
                                    <span style="font-weight: 600; font-size: 14px;">Trang sức</span>
                                </a>

                            </li>

                            <li class="col-sm-2" style="text-align: left;min-height: 190px;">
                                <a href="/san-pham/xe-day" title="Xe đẩy" style="padding: 0px !important;">
                                    <span style="font-weight: 600; font-size: 14px;">Xe đẩy</span>
                                </a>
                            </li>
                        </ul>

                    </div>
                </div>
            </div>
            @*<div class="mega-content" style="height: 550px;overflow-y: auto;">
                <div class="level0-wrapper2">
                    <div class="nav-block nav-block-center">
                        <ul class="row" style="" id="megamenurow">

                            <li class="col-sm-2" style="text-align: left;min-height: 190px;">
                                <a href="collections/den-tube.html" title="Đèn Tube" style="padding: 0px !important;">
                                    <span style="font-weight: 600; font-size: 14px;">Đèn Tube</span>
                                </a>


                                <div class="row col-child">
                                    <div class="col-md-12" style="text-align: left; padding-left: 15%;">
                                        <a href="collections/led-tuyp.html" title="Đèn Tube LED" style="padding: 0px 5px !important;">
                                            <span style="font-weight: 400; font-size: 12px;">Đèn Tube LED</span>
                                        </a>
                                    </div>
                                </div>

                                <div class="row col-child">
                                    <div class="col-md-12" style="text-align: left; padding-left: 15%;">
                                        <a href="collections/den-huynh-quang.html" title="Đèn Tube Huỳnh Quang" style="padding: 0px 5px !important;">
                                            <span style="font-weight: 400; font-size: 12px;">Đèn Tube Huỳnh Quang</span>
                                        </a>
                                    </div>
                                </div>


                            </li>

                            <li class="col-sm-2" style="text-align: left;min-height: 190px;">
                                <a href="collections/den-led-bulb.html" title="Đèn LED Bulb" style="padding: 0px !important;">
                                    <span style="font-weight: 600; font-size: 14px;">Đèn LED Bulb</span>
                                </a>


                                <div class="row col-child">
                                    <div class="col-md-12" style="text-align: left; padding-left: 15%;">
                                        <a href="collections/led-bulb-csn.html" title="LED Bulb CSN" style="padding: 0px 5px !important;">
                                            <span style="font-weight: 400; font-size: 12px;">LED Bulb CSN</span>
                                        </a>
                                    </div>
                                </div>

                                <div class="row col-child">
                                    <div class="col-md-12" style="text-align: left; padding-left: 15%;">
                                        <a href="collections/led-bulb-csl.html" title="LED Bulb CSL" style="padding: 0px 5px !important;">
                                            <span style="font-weight: 400; font-size: 12px;">LED Bulb CSL</span>
                                        </a>
                                    </div>
                                </div>


                            </li>

                            <li class="col-sm-2" style="text-align: left;min-height: 190px;">
                                <a href="collections/double-wing.html" title="Đèn Double Wing" style="padding: 0px !important;">
                                    <span style="font-weight: 600; font-size: 14px;">Đèn Double Wing</span>
                                </a>


                                <div class="row col-child">
                                    <div class="col-md-12" style="text-align: left; padding-left: 15%;">
                                        <a href="collections/bo-den-double-wing.html" title="Bộ Đèn HQ Double Wing" style="padding: 0px 5px !important;">
                                            <span style="font-weight: 400; font-size: 12px;">Bộ Đèn HQ Double Wing</span>
                                        </a>
                                    </div>
                                </div>

                                <div class="row col-child">
                                    <div class="col-md-12" style="text-align: left; padding-left: 15%;">
                                        <a href="collections/led-double-wing.html" title="Bộ Đèn LED Double Wing" style="padding: 0px 5px !important;">
                                            <span style="font-weight: 400; font-size: 12px;">Bộ Đèn LED Double Wing</span>
                                        </a>
                                    </div>
                                </div>


                            </li>

                            <li class="col-sm-2" style="text-align: left;min-height: 190px;">
                                <a href="collections/den-tran-led.html" title="Đèn LED Âm Trần" style="padding: 0px !important;">
                                    <span style="font-weight: 600; font-size: 14px;">Đèn LED Âm Trần</span>
                                </a>


                                <div class="row col-child">
                                    <div class="col-md-12" style="text-align: left; padding-left: 15%;">
                                        <a href="collections/led-downlight.html" title="LED Downlight" style="padding: 0px 5px !important;">
                                            <span style="font-weight: 400; font-size: 12px;">LED Downlight</span>
                                        </a>
                                    </div>
                                </div>

                                <div class="row col-child">
                                    <div class="col-md-12" style="text-align: left; padding-left: 15%;">
                                        <a href="collections/led-panel.html" title="LED Panel" style="padding: 0px 5px !important;">
                                            <span style="font-weight: 400; font-size: 12px;">LED Panel</span>
                                        </a>
                                    </div>
                                </div>

                                <div class="row col-child">
                                    <div class="col-md-12" style="text-align: left; padding-left: 15%;">
                                        <a href="collections/led-op-tran.html" title="LED Ốp trần" style="padding: 0px 5px !important;">
                                            <span style="font-weight: 400; font-size: 12px;">LED Ốp trần</span>
                                        </a>
                                    </div>
                                </div>


                            </li>

                            <li class="col-sm-2" style="text-align: left;min-height: 190px;">
                                <a href="collections/den-led-khac.html" title="Đèn LED Khác" style="padding: 0px !important;">
                                    <span style="font-weight: 600; font-size: 14px;">Đèn LED Khác</span>
                                </a>


                                <div class="row col-child">
                                    <div class="col-md-12" style="text-align: left; padding-left: 15%;">
                                        <a href="collections/led-mica.html" title="Đèn LED Mica" style="padding: 0px 5px !important;">
                                            <span style="font-weight: 400; font-size: 12px;">Đèn LED Mica</span>
                                        </a>
                                    </div>
                                </div>

                                <div class="row col-child">
                                    <div class="col-md-12" style="text-align: left; padding-left: 15%;">
                                        <a href="collections/led-compact.html" title="Đèn LED Compact" style="padding: 0px 5px !important;">
                                            <span style="font-weight: 400; font-size: 12px;">Đèn LED Compact</span>
                                        </a>
                                    </div>
                                </div>

                                <div class="row col-child">
                                    <div class="col-md-12" style="text-align: left; padding-left: 15%;">
                                        <a href="collections/led-pegasus.html" title="Đèn LED Pegasus" style="padding: 0px 5px !important;">
                                            <span style="font-weight: 400; font-size: 12px;">Đèn LED Pegasus</span>
                                        </a>
                                    </div>
                                </div>

                                <div class="row col-child">
                                    <div class="col-md-12" style="text-align: left; padding-left: 15%;">
                                        <a href="collections/led-pha.html" title="LED Pha" style="padding: 0px 5px !important;">
                                            <span style="font-weight: 400; font-size: 12px;">LED Pha</span>
                                        </a>
                                    </div>
                                </div>


                            </li>

                            <li class="col-sm-2" style="text-align: left;min-height: 190px;">
                                <a href="collections/den-compact.html" title="Đèn Compact" style="padding: 0px !important;">
                                    <span style="font-weight: 600; font-size: 14px;">Đèn Compact</span>
                                </a>


                                <div class="row col-child">
                                    <div class="col-md-12" style="text-align: left; padding-left: 15%;">
                                        <a href="collections/den-compact-csn.html" title="Đèn Compact CSN" style="padding: 0px 5px !important;">
                                            <span style="font-weight: 400; font-size: 12px;">Đèn Compact CSN</span>
                                        </a>
                                    </div>
                                </div>

                                <div class="row col-child">
                                    <div class="col-md-12" style="text-align: left; padding-left: 15%;">
                                        <a href="collections/den-compact-csl.html" title="Đèn Compact CSL" style="padding: 0px 5px !important;">
                                            <span style="font-weight: 400; font-size: 12px;">Đèn Compact CSL</span>
                                        </a>
                                    </div>
                                </div>

                                <div class="row col-child">
                                    <div class="col-md-12" style="text-align: left; padding-left: 15%;">
                                        <a href="collections/den-compact-xoan.html" title="Đèn Compact Xoắn" style="padding: 0px 5px !important;">
                                            <span style="font-weight: 400; font-size: 12px;">Đèn Compact Xoắn</span>
                                        </a>
                                    </div>
                                </div>

                                <div class="row col-child">
                                    <div class="col-md-12" style="text-align: left; padding-left: 15%;">
                                        <a href="collections/den-compact-chong-am.html" title="Đèn Compact Chống Ẩm" style="padding: 0px 5px !important;">
                                            <span style="font-weight: 400; font-size: 12px;">Đèn Compact Chống Ẩm</span>
                                        </a>
                                    </div>
                                </div>


                            </li>

                            <li class="col-sm-2" style="text-align: left;min-height: 190px;">
                                <a href="collections/san-pham-dien-gia-dung.html" title="Sản Phẩm Điện Gia Dụng" style="padding: 0px !important;">
                                    <span style="font-weight: 600; font-size: 14px;">Sản Phẩm Điện Gia Dụng</span>
                                </a>


                                <div class="row col-child">
                                    <div class="col-md-12" style="text-align: left; padding-left: 15%;">
                                        <a href="collections/quat-dien.html" title="Quạt Điện" style="padding: 0px 5px !important;">
                                            <span style="font-weight: 400; font-size: 12px;">Quạt Điện</span>
                                        </a>
                                    </div>
                                </div>

                                <div class="row col-child">
                                    <div class="col-md-12" style="text-align: left; padding-left: 15%;">
                                        <a href="collections/am-dun-nuoc.html" title="Ấm Đun Nước" style="padding: 0px 5px !important;">
                                            <span style="font-weight: 400; font-size: 12px;">Ấm Đun Nước</span>
                                        </a>
                                    </div>
                                </div>

                                <div class="row col-child">
                                    <div class="col-md-12" style="text-align: left; padding-left: 15%;">
                                        <a href="collections/vot-muoi.html" title="Vợt Muỗi" style="padding: 0px 5px !important;">
                                            <span style="font-weight: 400; font-size: 12px;">Vợt Muỗi</span>
                                        </a>
                                    </div>
                                </div>

                                <div class="row col-child">
                                    <div class="col-md-12" style="text-align: left; padding-left: 15%;">
                                        <a href="collections/den-pin-1.html" title="Đèn Pin Sạc" style="padding: 0px 5px !important;">
                                            <span style="font-weight: 400; font-size: 12px;">Đèn Pin Sạc</span>
                                        </a>
                                    </div>
                                </div>

                                <div class="row col-child">
                                    <div class="col-md-12" style="text-align: left; padding-left: 15%;">
                                        <a href="collections/den-pin-doi-dau.html" title="Đèn Pin Đội Đầu" style="padding: 0px 5px !important;">
                                            <span style="font-weight: 400; font-size: 12px;">Đèn Pin Đội Đầu</span>
                                        </a>
                                    </div>
                                </div>

                                <div class="row col-child">
                                    <div class="col-md-12" style="text-align: left; padding-left: 15%;">
                                        <a href="collections/den-bat-muoi.html" title="Đèn Bắt Muỗi" style="padding: 0px 5px !important;">
                                            <span style="font-weight: 400; font-size: 12px;">Đèn Bắt Muỗi</span>
                                        </a>
                                    </div>
                                </div>

                                <div class="row col-child">
                                    <div class="col-md-12" style="text-align: left; padding-left: 15%;">
                                        <a href="collections/but-thu-dien.html" title="Bút Thử Điện" style="padding: 0px 5px !important;">
                                            <span style="font-weight: 400; font-size: 12px;">Bút Thử Điện</span>
                                        </a>
                                    </div>
                                </div>

                                <div class="row col-child">
                                    <div class="col-md-12" style="text-align: left; padding-left: 15%;">
                                        <a href="collections/tu-dien.html" title="Tủ Điện" style="padding: 0px 5px !important;">
                                            <span style="font-weight: 400; font-size: 12px;">Tủ Điện</span>
                                        </a>
                                    </div>
                                </div>

                                <div class="row col-child">
                                    <div class="col-md-12" style="text-align: left; padding-left: 15%;">
                                        <a href="collections/den-suoi.html" title="Đèn Sưởi" style="padding: 0px 5px !important;">
                                            <span style="font-weight: 400; font-size: 12px;">Đèn Sưởi</span>
                                        </a>
                                    </div>
                                </div>

                                <div class="row col-child">
                                    <div class="col-md-12" style="text-align: left; padding-left: 15%;">
                                        <a href="collections/den-sac-led-1.html" title="Đèn Sạc LED" style="padding: 0px 5px !important;">
                                            <span style="font-weight: 400; font-size: 12px;">Đèn Sạc LED</span>
                                        </a>
                                    </div>
                                </div>


                            </li>

                            <li class="col-sm-2" style="text-align: left;min-height: 190px;">
                                <a href="collections/o-cam-va-phich-cam.html" title="Ổ Cắm, Phích Cắm" style="padding: 0px !important;">
                                    <span style="font-weight: 600; font-size: 14px;">Ổ Cắm, Phích Cắm</span>
                                </a>


                                <div class="row col-child">
                                    <div class="col-md-12" style="text-align: left; padding-left: 15%;">
                                        <a href="collections/o-cam-xoay-90.html" title="Ổ cắm Xoay 90°" style="padding: 0px 5px !important;">
                                            <span style="font-weight: 400; font-size: 12px;">Ổ cắm Xoay 90°</span>
                                        </a>
                                    </div>
                                </div>

                                <div class="row col-child">
                                    <div class="col-md-12" style="text-align: left; padding-left: 15%;">
                                        <a href="collections/o-cam.html" title="Ổ Cắm" style="padding: 0px 5px !important;">
                                            <span style="font-weight: 400; font-size: 12px;">Ổ Cắm</span>
                                        </a>
                                    </div>
                                </div>

                                <div class="row col-child">
                                    <div class="col-md-12" style="text-align: left; padding-left: 15%;">
                                        <a href="collections/o-cam-dien-quang-eco.html" title="Ổ Cắm ECO" style="padding: 0px 5px !important;">
                                            <span style="font-weight: 400; font-size: 12px;">Ổ Cắm ECO</span>
                                        </a>
                                    </div>
                                </div>

                                <div class="row col-child">
                                    <div class="col-md-12" style="text-align: left; padding-left: 15%;">
                                        <a href="collections/o-cam-csl.html" title="Ổ Cắm CSL" style="padding: 0px 5px !important;">
                                            <span style="font-weight: 400; font-size: 12px;">Ổ Cắm CSL</span>
                                        </a>
                                    </div>
                                </div>

                                <div class="row col-child">
                                    <div class="col-md-12" style="text-align: left; padding-left: 15%;">
                                        <a href="collections/o-cam-du-lich.html" title="Ổ Cắm Du Lịch" style="padding: 0px 5px !important;">
                                            <span style="font-weight: 400; font-size: 12px;">Ổ Cắm Du Lịch</span>
                                        </a>
                                    </div>
                                </div>

                                <div class="row col-child">
                                    <div class="col-md-12" style="text-align: left; padding-left: 15%;">
                                        <a href="collections/phich-cam.html" title="Phích Cắm" style="padding: 0px 5px !important;">
                                            <span style="font-weight: 400; font-size: 12px;">Phích Cắm</span>
                                        </a>
                                    </div>
                                </div>

                                <div class="row col-child">
                                    <div class="col-md-12" style="text-align: left; padding-left: 15%;">
                                        <a href="collections/day-noi-dai.html" title="Dây Nối Dài" style="padding: 0px 5px !important;">
                                            <span style="font-weight: 400; font-size: 12px;">Dây Nối Dài</span>
                                        </a>
                                    </div>
                                </div>


                            </li>

                            <li class="col-sm-2" style="text-align: left;min-height: 190px;">
                                <a href="collections/den-ban-va-den-ngu.html" title="Đèn Bàn, Đèn Ngủ" style="padding: 0px !important;">
                                    <span style="font-weight: 600; font-size: 14px;">Đèn Bàn, Đèn Ngủ</span>
                                </a>


                                <div class="row col-child">
                                    <div class="col-md-12" style="text-align: left; padding-left: 15%;">
                                        <a href="collections/den-ban.html" title="Đèn Bàn LED" style="padding: 0px 5px !important;">
                                            <span style="font-weight: 400; font-size: 12px;">Đèn Bàn LED</span>
                                        </a>
                                    </div>
                                </div>

                                <div class="row col-child">
                                    <div class="col-md-12" style="text-align: left; padding-left: 15%;">
                                        <a href="collections/den-ban-led.html" title="Đèn Bàn LED Cao Cấp" style="padding: 0px 5px !important;">
                                            <span style="font-weight: 400; font-size: 12px;">Đèn Bàn LED Cao Cấp</span>
                                        </a>
                                    </div>
                                </div>

                                <div class="row col-child">
                                    <div class="col-md-12" style="text-align: left; padding-left: 15%;">
                                        <a href="collections/den-ngu-cam-bien.html" title="Đèn Ngủ Cảm Biến" style="padding: 0px 5px !important;">
                                            <span style="font-weight: 400; font-size: 12px;">Đèn Ngủ Cảm Biến</span>
                                        </a>
                                    </div>
                                </div>


                            </li>

                            <li class="col-sm-2" style="text-align: left;min-height: 190px;">
                                <a href="collections/den-trang-tri.html" title="Đèn Trang Trí" style="padding: 0px !important;">
                                    <span style="font-weight: 600; font-size: 14px;">Đèn Trang Trí</span>
                                </a>


                                <div class="row col-child">
                                    <div class="col-md-12" style="text-align: left; padding-left: 15%;">
                                        <a href="collections/led-nen.html" title="LED Nến" style="padding: 0px 5px !important;">
                                            <span style="font-weight: 400; font-size: 12px;">LED Nến</span>
                                        </a>
                                    </div>
                                </div>

                                <div class="row col-child">
                                    <div class="col-md-12" style="text-align: left; padding-left: 15%;">
                                        <a href="collections/led-day.html" title="LED Dây" style="padding: 0px 5px !important;">
                                            <span style="font-weight: 400; font-size: 12px;">LED Dây</span>
                                        </a>
                                    </div>
                                </div>

                                <div class="row col-child">
                                    <div class="col-md-12" style="text-align: left; padding-left: 15%;">
                                        <a href="collections/led-hat-tuong.html" title="LED Hắt Tường" style="padding: 0px 5px !important;">
                                            <span style="font-weight: 400; font-size: 12px;">LED Hắt Tường</span>
                                        </a>
                                    </div>
                                </div>

                                <div class="row col-child">
                                    <div class="col-md-12" style="text-align: left; padding-left: 15%;">
                                        <a href="collections/den-ngu-trang-tri.html" title="Đèn Gốm Sứ" style="padding: 0px 5px !important;">
                                            <span style="font-weight: 400; font-size: 12px;">Đèn Gốm Sứ</span>
                                        </a>
                                    </div>
                                </div>

                                <div class="row col-child">
                                    <div class="col-md-12" style="text-align: left; padding-left: 15%;">
                                        <a href="collections/den-thuy-tinh.html" title="Đèn Thuỷ Tinh" style="padding: 0px 5px !important;">
                                            <span style="font-weight: 400; font-size: 12px;">Đèn Thuỷ Tinh</span>
                                        </a>
                                    </div>
                                </div>

                                <div class="row col-child">
                                    <div class="col-md-12" style="text-align: left; padding-left: 15%;">
                                        <a href="collections/den-treo-trang-tri.html" title="Đèn Treo Trang Trí" style="padding: 0px 5px !important;">
                                            <span style="font-weight: 400; font-size: 12px;">Đèn Treo Trang Trí</span>
                                        </a>
                                    </div>
                                </div>


                            </li>

                            <li class="col-sm-2" style="text-align: left;min-height: 190px;">
                                <a href="collections/vat-tu-den.html" title="Vật Tư Đèn" style="padding: 0px !important;">
                                    <span style="font-weight: 600; font-size: 14px;">Vật Tư Đèn</span>
                                </a>


                                <div class="row col-child">
                                    <div class="col-md-12" style="text-align: left; padding-left: 15%;">
                                        <a href="collections/choa-den.html" title="Chóa Đèn" style="padding: 0px 5px !important;">
                                            <span style="font-weight: 400; font-size: 12px;">Chóa Đèn</span>
                                        </a>
                                    </div>
                                </div>

                                <div class="row col-child">
                                    <div class="col-md-12" style="text-align: left; padding-left: 15%;">
                                        <a href="collections/chuoi-den.html" title="Chuôi Đèn" style="padding: 0px 5px !important;">
                                            <span style="font-weight: 400; font-size: 12px;">Chuôi Đèn</span>
                                        </a>
                                    </div>
                                </div>

                                <div class="row col-child">
                                    <div class="col-md-12" style="text-align: left; padding-left: 15%;">
                                        <a href="collections/ballast-tu.html" title="Ballast Từ" style="padding: 0px 5px !important;">
                                            <span style="font-weight: 400; font-size: 12px;">Ballast Từ</span>
                                        </a>
                                    </div>
                                </div>

                                <div class="row col-child">
                                    <div class="col-md-12" style="text-align: left; padding-left: 15%;">
                                        <a href="collections/ballast-dien-tu.html" title="Ballast Điện Tử" style="padding: 0px 5px !important;">
                                            <span style="font-weight: 400; font-size: 12px;">Ballast Điện Tử</span>
                                        </a>
                                    </div>
                                </div>

                                <div class="row col-child">
                                    <div class="col-md-12" style="text-align: left; padding-left: 15%;">
                                        <a href="collections/kich-dien.html" title="Kích Điện" style="padding: 0px 5px !important;">
                                            <span style="font-weight: 400; font-size: 12px;">Kích Điện</span>
                                        </a>
                                    </div>
                                </div>


                            </li>

                            <li class="col-sm-2" style="text-align: left;min-height: 190px;">
                                <a href="collections/index.html" title="Chiếu Sáng Thông Minh" style="padding: 0px !important;">
                                    <span style="font-weight: 600; font-size: 14px;">Chiếu Sáng Thông Minh</span>
                                </a>


                                <div class="row col-child">
                                    <div class="col-md-12" style="text-align: left; padding-left: 15%;">
                                        <a href="collections/den-led-bulb-thong-minh-dien-quang-apollo.html" title="Đèn LED Bulb Thông Minh" style="padding: 0px 5px !important;">
                                            <span style="font-weight: 400; font-size: 12px;">Đèn LED Bulb Thông Minh</span>
                                        </a>
                                    </div>
                                </div>

                                <div class="row col-child">
                                    <div class="col-md-12" style="text-align: left; padding-left: 15%;">
                                        <a href="collections/bo-den-led-downlight-thong-minh-dien-quang-apollo.html" title="Bộ Đèn LED Downlight Thông Minh" style="padding: 0px 5px !important;">
                                            <span style="font-weight: 400; font-size: 12px;">Bộ Đèn LED Downlight Thông Minh</span>
                                        </a>
                                    </div>
                                </div>


                            </li>

                        </ul>
                    </div>
                </div>
            </div>*@

</li>
    </ul>
</nav>
