
@{
    ViewBag.Title = "Success";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="alert alert-success" style="text-align:center">
    Bạn đã đặt hàng thành công. Hãy đợi chúng tôi liên hệ lại.
</div>

